1º Lenguajes de marcas y sistemas de gestión de información/EXAMEN EXTRAODINARIO/DTD/horario.dtd

 <?xml encoding="UTF-8"?>

<!ELEMENT horario (entrenamiento,plantilla)>
<!ELEMENT entrenamiento (entrenador,tiempo)>
<!ELEMENT plantilla (jugador)+>
<!ELEMENT entrenador (#PCDATA)>
<!ELEMENT tiempo (#PCDATA)>
<!ELEMENT jugador (nombre,dorsal)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT dorsal (#PCDATA)>

<!ATTLIST horario dia CDATA>
<!ATTLIST entrenamiento tipo CDATA>
<!ATTLIST tiempo medidas CDATA>
<!ATTLIST jugador pos (portero|defensa|medio|delantero) #REQUIRED>
<!ATTLIST jugador ID #REQUIRED>
